<div class="container">
  <div class="calc-body">
    <div class="calc-screen">
      <div id="calcText" class="calc-operation"></div>
      <div id="calcResult" class="calc-typed"></div>
    </div>
    <div class="calc-button-row">
      <div class="button-long button c" (click)="clear()">C</div>
      <div class="button l" (click)="pressed('/')">/</div>
    </div>
    <div class="calc-button-row">
      <div class="button" (click)="pressed(7)">7</div>
      <div class="button" (click)="pressed(8)">8</div>
      <div class="button" (click)="pressed(9)">9</div>
      <div class="button l" (click)="pressed('x')">x</div>
    </div>
    <div class="calc-button-row">
      <div class="button" (click)="pressed(4)">4</div>
      <div class="button" (click)="pressed(5)">5</div>
      <div class="button" (click)="pressed(6)">6</div>
      <div class="button l" (click)="pressed('-')">−</div>
    </div>
    <div class="calc-button-row">
      <div class="button" (click)="pressed(1)">1</div>
      <div class="button" (click)="pressed(2)">2</div>
      <div class="button" (click)="pressed(3)">3</div>
      <div class="button l" (click)="pressed('+')">+</div>
    </div>
    <div class="calc-button-row">
      <div class="button button-long" (click)="pressed(0)">0</div>
      <div class="button l" (click)="result()">=</div>
    </div>
  </div>
</div>
